[submodule "apps/zsh/plugins/zsh-syntax-highlighting"]
	path = apps/zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "apps/zsh/plugins/zsh-autosuggestions"]
	path = apps/zsh/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "apps/zsh/plugins/pure"]
	path = apps/zsh/plugins/pure
	url = git@github.com:sindresorhus/pure.git
[submodule "apps/zsh/plugins/powerlevel9k"]
	path = apps/zsh/plugins/powerlevel9k
	url = git@github.com:Powerlevel9k/powerlevel9k.git
[submodule "apps/kitty/kitty-themes"]
	path = apps/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
